extends layout

block content
  h1 Administration
  p Welcome to Random Loser Bot Administration.
  p Kindly continue by using following links.
  ul
  li
    a(href="/register") Register bot
  li
    a(href="/play") Play Five in a Row
  a(href="/") Return to Index